* {
    margin: 0;
    padding: 0;
  }
  header{
      transform: translateY(-100%);
      transition: all 3s ease;
  }
  main {
    transform: translateY(-2em);
    
    input:checked +  section > section:first-of-type > div{
        transform: translateX(-120vw);
        animation: moveBackground 5s;
     }
    input:checked +  section > section:nth-child(2) > div{
        animation: moveTrain 6s;
     } 
    input:checked +  section > section:nth-child(2) > div svg{
        animation: bump .2s 12 3s;
    }
    input:checked +  section > section:nth-child(3) > div{
        transform: translateX(-120vw);
        animation: movePlatform 5s;
     }
    section:nth-of-type(2) {
    width: 400vw;
    height: 80vh;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
        section:first-of-type{
            align-items: flex-start;
            position: absolute;
            height: 50vh;
            display: flex;
            aside{
                background-image: linear-gradient(to bottom right, #00B1F500 , rgba(0,0,0,0)) ;
                cursor: url(../img/spraycan-tilt.svg) 2 2, auto;
                height: 118px;
                position: absolute;
                width: 145px;
                mask-image: url(../img/CSSTOTHERESCUE.svg);

            }
            aside:hover{
                animation: fill 1.3s;
            }
            @keyframes fill {
               100%{
                   background-image: linear-gradient(to bottom right, #00B1F5 , #00B1F509);
               }
            }
            div:nth-of-type(2):hover{
                animation: wiggle 3s infinite;
                img:nth-of-type(2){
                    animation: blink .2s infinite .3s;
                }
                @keyframes blink{
                    0%{
                        opacity: 0;
                    }
                    100%{
                        opacity: 1;
                    }
                }
            }
            @keyframes wiggle {
                0% { -webkit-transform: translateX(0%); }
            15% { -webkit-transform: translateX(-2%) rotate(-.5deg); }
            30% { -webkit-transform: translateX(2%) rotate(.3deg); }
            45% { -webkit-transform: translateX(-1%) rotate(-.3deg); }
            60% { -webkit-transform: translateX(1%) rotate(.2deg); }
            75% { -webkit-transform: translateX(-.5%) rotate(-.1deg); }
            100% { -webkit-transform: translateX(0%); }
            }
            div:nth-of-type(2){   
                position: absolute;
                display: flex;
                flex-direction: column;
                margin-left: 100px;   
                img{
                    margin: auto;
                }
                img:nth-of-type(2){
                    animation: blink .23s 2.3s;
                    animation-iteration-count: 4;
                }
                @keyframes blink{
                    0%{
                        opacity: 0;
                    }
                    100%{
                        opacity: 1;
                    }
                }
            }
        }
        // train
        section:nth-of-type(2){
            div div:first-of-type {

                  
                  input[type="checkbox"]:checked ~ svg path {
                    stroke-dashoffset: 0;
                    stroke: #fff;
                    fill: none;
                  }
                  label{
                    width: 65px;
                    height: 160px;
                    position: absolute;
                    left: 0.5em; 
                    top: 0;
                    z-index: 9999;
                  }  

                svg:last-of-type { 
                    width: 65px;
                    height: 160px;
                    position: absolute;
                    left: 0.5em; 
                    top: 0;
                    background-color: rgb(99, 0, 0);  
                    path{
                        fill: none;
                        transition: fill .1s linear 1s;
                        transition: stroke-dashoffset 1s linear;
                        
                        // transition: fill 1s 1s ease;
                    }                  
                  }
                  
            }
            input[type=radio]:first-of-type  {
                position: absolute;
                z-index: 999;
            }
            input[type=radio]:checked:first-of-type ~ div > div:nth-of-type(2) {
                opacity: 1;
            }
            input[type=radio]:checked:nth-of-type(2) ~ div > div:nth-of-type(3) {
                opacity: 1;
            }
            input[type=radio]:checked:nth-of-type(3) ~ div > div:nth-of-type(4) {
                opacity: 1;
            }
            div:first-of-type{
                position: relative;
                
            }
            div div:first-of-type svg rect{
                transition: all ease-in-out 2s;
            }
            div div:first-of-type svg:hover rect:nth-of-type(odd){
                transform: translateX(-40px);
            }
            div div:first-of-type svg:hover rect:nth-of-type(even){
                transform: translateX(40px);
            }

            div div:first-of-type svg{
            margin-bottom: 3em;
            transform: translateX(0);
            
            } 
            div div:nth-of-type(2){
                display: flex;
                flex-direction: column;
                opacity: 0;
                position: absolute;
                bottom: 25%;
                left: 35%;
            }
            @keyframes moveBackground{
                from{
                    transform: translateX(0vw);
                }
                to{
                    transform: translateX(-120vw);
                }
            }
            @keyframes bump {
                from{ 
                    transform: translateY(-1px)
                }
                to{
                    transform: translateY(0);
                }
            }
            @keyframes moveTrain{
             0%{
                 transform: translateX(0);
                 transform: skewY(2deg);
             }
             20%{
                transform: translateX(200px);
             }
             40%{
                transform: translateX(10px);
             }
             60%{
                transform: translateX(200px);
             }
             80%{
                transform: translateX(80px);
                transform: skewY(-2deg);
             }
             90%{
                transform: translateX(20px);
                transform: skewY(-.1deg);
             }
             100%{
                 transform: translateX(10px);
             }
            }

        }
        // FOREGROUND
        section:nth-of-type(3) {
            font-family: 'Permanent Marker', cursive;
            position: absolute;
            left: 0;
            top: 80vh;
            @keyframes movePlatform{
                0%{
                    transform: translateX(0);
                }
                
                100%{
                    transform: translateX(-120vw);
                }
               }
            div{
                width: 90vw;
            }
            div:first-of-type{
                background-color: rgb(155, 168, 177);
                height: 2em;
                clip-path: polygon(0 0, 90% 0, 100% 100%, 0 100%);
            }
            div:nth-of-type(2){
                display: flex;
                background-color: rgb(80, 50, 50);
                height: 4em;
                
            }

            label{
                background-color: #008938;
                color: white;
                padding: .5rem;
                margin: .5rem;
            }
        } 
    }
  
}

// label{
//     background-color: green;
//     color: lawngreen;
//     font-size: 3em;
//     padding:1rem 2rem;
//     position: absolute;
//     z-index: 99;
// }
// label:hover { animation: 1s chevron-enter; }
// label:hover { animation: 1s chevron-leave; }

@keyframes chevron-enter {
  0% { clip-path: polygon(-25% 0%, 0% 50%, -25% 100%, -100% 100%, -75% 50%, -100% 0%); }
  75% { clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%); }
  100% { clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 0% 100%, 0% 50%, 0% 0%); }
}

@keyframes chevron-leave {
  0% { clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 0% 100%, 0% 50%, 0% 0%); }
  25% { clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%); }
  100% { clip-path: polygon(175% 0%, 200% 50%, 175% 100%, 100% 100%, 125% 50%, 100% 0%) }
}